@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

a {
	margin: 0 10px;
	border-radius: 50%;
	box-sizing: border-box;
	background: #fff;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: 0.5s;
	background-color: rgb(0, 0, 0, 0);
	color: var(--color);
	font-size: 3em;
	-webkit-box-reflect: below 5px
		linear-gradient(to bottom, rgba(0, 0, 0), rgba(0, 0, 0.4));
}
div {
	display: flex;
	flex-direction: space-around;
	gap: 5rem;
}
.facebook:hover {
	background: var(--color);
	color: #000000;
	box-shadow: 0 0 5px var(--color), 0 0 25px var(--color),
		0 0 50px var(--color), 0 0 200px var(--color);
}
.instagram:hover {
	background: var(--color);
	color: #050801;
	box-shadow: 0 0 5px var(--color), 0 0 25px var(--color),
		0 0 50px var(--color), 0 0 200px var(--color);
}
